<!DOCTYPE html>
<html>
<head>
  <title>Michael Halloran</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta name=viewport content='width=375'> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body> 
	<div class="outer-wrapper"> 
		<div class="wrapper">  
			<i class="fa fa-bars fa-2x nav-toggle"></i>
			<nav class="main-nav">
			  <ul>
				 	<li><%= link_to 'Home', root_path %>&nbsp;&nbsp;</li>
					<li><%= link_to 'About', about_path %>&nbsp;&nbsp;</li>
					<li><%= link_to 'Contact', 'mailto:michalloran@gmail.com' %>&nbsp;&nbsp;</li>
					<li><%= link_to 'Resume', 'mthresume.pdf' %>&nbsp;&nbsp;</li>
					<li class="nav-toggle" id="closetoggle">Close</li>
			  </ul>
			</nav>	<!-- close main-nav-->
			<%= yield %>
 		</div> <!-- close wrapper-->
	</div> <!-- close outer wrapper-->
</body>	 		<!-- close body-->
</html>


<script>
$(function() {
	$('.nav-toggle').on('click', function() {
		$('.nav-toggle').hide;
		$('.wrapper').toggleClass('open');
	});
});
</script>